################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdminLogin.sln
/AdminLogin.sln
/AdminLogin.sln
/AdminLogin.sln
